<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <!-- Assurez-vous de définir l'encodage UTF-8 -->
    <title>Webpage Design</title>
    <link rel="stylesheet" href="style.css" />
    <style></style>
  </head>
  <body>
    <div class="main">
      <div class="navbar">
        <div class="icon">
          <h2 class="logo">تفرهيدة</h2>
          <!-- Texte en arabe -->
        </div>

        <div class="menu">
          <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">SERVICE</a></li>
            <li><a href="#">DESIGN</a></li>
            <li class="dropdown">
              <a href="#" class="dropbtn"
                >Réclamation
                <ion-icon
                  name="chevron-down-outline"
                  style="font-size: 12px; vertical-align: middle"
                ></ion-icon
              ></a>
              <ul class="dropdown-content">
                <li>
                  <a href="listreclamation.php"
                    ><ion-icon
                      name="list-outline"
                      style="margin-right: 8px"
                    ></ion-icon>
                    Liste des réclamations</a
                  >
                </li>
                <li>
                  <a href="ajouterreclamation.php"
                    ><ion-icon
                      name="add-outline"
                      style="margin-right: 8px"
                    ></ion-icon>
                    Ajouter une réclamation</a
                  >
                </li>
              </ul>
            </li>
            <li><a href="#">CONTACT</a></li>
          </ul>
        </div>
      </div>
      <div class="content">
        <a href="index.html">
          <img id="logo" class="logo" src="file/logosite.png" alt=""
        /></a>
      </div>
    </div>

    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
  </body>
</html>
