<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8"> <!-- Assurez-vous de définir l'encodage UTF-8 -->
    <title>Webpage Design</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">تفرهيدة</h2> <!-- Texte en arabe -->
            </div>

            <div class="menu">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">SERVICE</a></li>
                    <li><a href="#">DESIGN</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">Réclamation</a>
                        <ul class="dropdown-content">
                            <li><a href="listreclamation.php">Liste des réclamations</a></li> <br>
                            <li><a href="ajouterreclamation.php">Ajouter une réclamation</a></li>
                        </ul>
                    </li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>

            <div class="search">
                <input class="srch" type="search" name="" placeholder="Type To text">
                <a href="#"> <button class="btn">Search</button></a>
            </div>

        </div> 
        <div class="content">
            <a href="index.html"> <img id="logo" class="logo" src="file/logosite.png" alt=""></a>
        </div>
        <div class="content"><button class="cn"><a href="#">JOIN US</a></button></div>  
    </div>
    
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>
