<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tfarhida</title>
    <link rel="icon" href="assets/logo.jpg" style="border-radius: 50%;">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="tel">
            <img src="assets/téléchargé__1_-removebg-preview.png" alt="tel">
            <a href="tel:+21692000500"> +216 92 000 500 </a>
            <img src="assets/téléchargé__1_-removebg-preview.png" alt="tel">
            <a href="tel:+21692500200"> +216 92 500 200</a>
        </div>
        <div class="links">
            <img src="assets/images-removebg-preview.png" class="li">
            <a href="">Log in |</a>
            <img src="assets/user.png" >
            <a href="">Sign up</a>
        </div>
    </header>
    <hr>
    <nav>
        
        <a href="index.html"><img src="assets/logo-removebg-preview.png" alt="logo"> </a>
        <div class="link"> 
            <a href="index.html">Home |</a>
            <a href="">About |</a>
            <a href="">FA&Q   |</a>
            <a href="">Contact</a>
        </div>
    </nav>
    <h2> ✨Devenez Partenaire de Nos Événements Inoubliables✨</h2> <br>
    <div class="row1" >
        <div class="event1">
            <img src="assets/svr-logo-png_seeklogo-460716.png">
            <h6>laboratoire SVR </h6>
            <p> </p>
        </div>
        <div class="event2">
            <img src="assets/images (2).png">
            <h6>Kiko milano </h6>
            <p></p>
        </div>
        <div class="event3">
            <img src="assets/images (1).png">
            <h6>Fatales </h6>
            <p></p>
        </div>
    </div>
    <br> <br>
    <div class="row1" >
        <div class="event1">
            <img src="assets/safia.png">
            <h6>Safia</h6>
            <p></p>
        </div>
        <div class="event2">
            <img src="assets/images.jpg">
            <h6>Sabrine </h6>
            <p></p>
        </div>
        <div class="event3">
            <img src="assets/dlice_danone_logo.jpg">
            <h6> Delice Danone </h6>
            <p></p>
        </div>
    </div> <br> <br>
    <footer>
        <div class="FO">
            <p class="p">besoin d'aide? 71717171</p>
        </div>
        <div class="FO">
            <p class="p">Meilleur prix GARANTI</p>
        </div>
        <div class="FO">
            <p class="p">Paiement 100% sécurisé</p>
        </div>
        <div class="FO">
            <p class="p">+200000 clients satisfaits</p>
        </div>
        <div>
          
        </div>
        <div class="FO">
            <p class="p">suivez nous:</p>
            <a href="http://www.facebook.com"><img class="social" src="assets/fb.png" alt=""></a>
            <img class="social" src="assets/instagram.png" alt=""><br>
            <img class="social" src="assets/twitter.png" alt="">
            <img class="social" src="assets/youtube.png" alt="">
        </div>
      </footer>
</body>
</html>